<div class="container text-center">

  <% @restaurant.each do |restaurant| %>
   <ul style="list-style: none;">
    <li> <%= restaurant.name %> <li>
    <li> <%= restaurant.address %> <li>
    <li> <%= restaurant.phone_number %> <li>
    <li> <%= restaurant.category %> <li>
  </ul>
  <% end %>

</div>
